
[Desktop Entry]
Encoding=UTF-8
Name=Screencaster
Comment=Record on-screen video and sound from microphone
Exec=screencaster
Icon=screencaster
Terminal=false
Type=Application
Categories=AudioVideo;
